<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        #navigation{
            align-content: center;
            background: rgb(51, 51, 115);
            box-shadow: 10px black;
        }
        #navigation ul li a{
            background: whitesmoke;
            margin: 50%;
           
        }
        ul{
            display: inline-block;
            flex: content;
        }
    </style>
</head>
<body>
    <nav id="navigation">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>


</body>
</html>